@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#nprogress .bar {
  height: 5px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

#nprogress .spinner {
  display: none;
}